## Ignore Mac dotfiles
.DS_Store

## Ignore python extras/caches
*.pyc
__pycache__/
.pytest_cache/

## Ignore VSCode dotfolder
.vscode/

## Ignore doctrees cache from Sphinx documentation builds
docs/build/doctrees/

## Ignore latex build cache
docs/build/latex/

## Ignore the html build, for now
docs/build/html