## Mac dotfiles
.DS_Store

## Python extras/caches
*.pyc
__pycache__/
.pytest_cache/

## VSCode dotfolder
.vscode/

## Doctrees cache from Sphinx documentation builds
docs/build/doctrees/

## Latex build cache
docs/build/latex/

## Html build cache, for now
docs/build/html